apiVersion: apps/v1
kind: Deployment
metadata:
  name: quizz-app
  labels:
    app: quizz-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quizz-app
  template:
    metadata:
      labels:
        app: quizz-app
    spec:
      containers:
      - name: quizz-app
        image: lutzkan/quizz-app:13498721236
        ports:
        - containerPort: 80
