name: CI Pipeline

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  gitleaks:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Gitleaks scan
        run: |
          docker run --rm \
            -v $(pwd):/repo \
            --workdir /repo \
            --entrypoint gitleaks \
            zricethezav/gitleaks:latest detect . -v --redact --report-format json --report-path /repo/gitleaks-report.json

      - name: Fail if secrets detected
        run: |
          if grep -q "Secret detected" gitleaks-report.json; then
            echo "Secrets detected!"
            exit 1
          fi
  linters:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: | 
          npm install

      - name: Run linters
        run: npm run lint -- --fix